{% extends 'layout.html' %}
{% block content %}
<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard <small>Statistics Overview</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
      </ol>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div><!-- /.row -->

  <div class="row">
    {% for sensor in sensors %}
    <div class="col-lg-3 sensor" data-sensor-id="{{ sensor.id }}">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa  fa-bell-o fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading">{{ sensor.name }}</p>
              <p class="announcement-text">
                {% if sensor.logs.first() %}
                  {{ sensor.logs.first().value }}
                {% else %}
                  unavailable
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <a href="{{ url_for('sensors.show', id=sensor.id) }}">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                View More
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div><!-- /.row -->
</div><!-- /#page-wrapper -->
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  update = function(){
    $(".sensor").each(function(){
      var sensor_id = $(this).attr('data-sensor-id')
      var that = this
      $.get( "/api/v1/sensor/status/" + sensor_id, function( data ) {
        
        $(that).find(".announcement-text").html(data.value)
        if (data.value == 1){
          $(that).find(".panel").removeClass("panel-info").removeClass("panel-danger").removeClass("panel-success")
          $(that).find(".panel").addClass("panel-success")
        }else{
          $(that).find(".panel").removeClass("panel-info").removeClass("panel-danger").removeClass("panel-success")
          $(that).find(".panel").addClass("panel-danger")
        }
        console.log(data.value)
      });
    })
    setTimeout(update, 2000)
  }
  update()
</script>
{% endblock %}
